<html>
<body>
    <h3>Create User</h3>
    <div>
        <form method="post" action="add">
            <input type="text" name="fullname" placeholder="Enter your full name:">
            <input type="text" name="email" placeholder="Enter your email:">
            <input type="password" name="password" placeholder="Enter your password:">
            <button type="submit">Sing Up</button>
        </form>
    </div>
</body>
</html>