<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
      .red{color:#FF0000;}
      .pink{color:#8B008B;}
  </style>
<body>

    <hr align="center" width="90%" size="1"/>
    <h1 class=red align="center">Your Password has changed.</h1>
    <h4 class=pink align="center">GoAdventures</h4>

    <br>

    <hr align="center" width="90%" size="1"/>

    <br><br><br>

    <h3 class=pink align="center">This is confirmation that your password</h3>
    <h3 class=pink align="center">for your account <span th:text="${sendNewPassEmail}"></span> has been changed.</h3>
    <h3 class=pink align="center">Your new password: <span th:text="${sendNewPassword}"></span></h3>

    <br>

    <h3 class=pink align="center">If you did not make a request, <a href="">contact support.</a></h3>


    <br><br><br>

    <hr align="center" width="90%" size="1"/>

    <br><br>

    <h4 class=pink align = "center">All Rights Reserved</h4>
  </body>
</html>
