@import './theme/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}


img.rounded-avatar-sm {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px 0 10px;
}


.btn {
  border-radius: 0.25rem;
}

input {
  border-radius: 0.25rem !important;
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */