@import './theme/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(223, 223, 223); 
}

html {
  height: 100%;
}
.select{
  border-radius: 5px;
}
.page-container{
  margin-top:2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    padding:1rem;
    background-color: white;
}

img.rounded-avatar-sm {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px 0 10px;
}

.btn {
  border-radius: 0.25rem;
}

input {
  border-radius: 0.25rem !important;
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */