.Events_card {
   .card-body{
      padding-bottom: 1px !important;

   }
   .location{
      font-size: 0.9em;
      color: gray;

   }
   .category{
      text-align: right;
      color:green;
   }

   border-radius: 0.25rem !important;
   cursor: pointer;
   padding: 0 !important;

   & img {
      border-radius: 0.25rem;
   }

}