.sidebar {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex: 1 3 content;

  & .Sidebar__avatar {
    width: 100%;
    height: 250px;

    & img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      align-content: center;
    }
  }
}