.Dialog__window {
    max-width: 20rem;
    & .card-header h3 {
        text-align: center;
    }
    label {
        width: 100%;
    }
    img {
        max-width: 50px;
        max-height: 50px;
    }
}