.Dialog__window {
    max-width: 20rem;
    & .card-header h3 {
        text-align: center;
    }
    label {
        width: 100%;
        padding: 5px 0 5px 0;
    }
    img {
        max-width: 50px;
        max-height: 50px;
    }

    & .invalid-feedback, .valid-feedback {
        display: inherit;
        position: absolute;
    }
}