.btn-circle.btn-xl {
    width: 4rem;
    height: 4rem;
    margin: 2rem;
    border-radius: 35px;
    left:92%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    line-height: 1.33;
    font-size: 1.7rem;
}