.EventDetail {
    .SettingsPanel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .btn {
            margin: 2px;
        }
    }

    .gallery {
        height: 500px;
    }

    .map-layer {
        height: 250px;
    }


    & h2 {
        font-size: 2vw;
        font-weight: 700;
    }

    & .SettingsPanel {
        & .content-column {
            justify-content: center;
        }
    }
}