.EventDetail {
    margin-top: 3em;
    & h2 {
        font-size: 2vw;
        font-weight: 700;
    }

    & .SettingsPanel {
        & .content-column {
            justify-content: center;
        }
    }
}