.Sidebar-wrapper {

  width: 30em;

  max-width: 31em;

  display: flex;

  flex-direction: column;

  align-items: stretch;

  height: 30em;


  & .Sidebar__avatar {

    width: 420px;
    height: 320px;


    & img {
      width: 320px;
      height: 320px;
      border-radius: 50%;

    }
  }


}
