.header{
    text-align: left;
    color: blueviolet;
    font-size: 30px;
  
  }
  .card-title{
      color: blueviolet;
  }
  .card-title2{
      color:green;
  }
  .label-info{
      color:#919496;
      font-size:16px;
  }
  .info{
      padding-bottom: 10px;
  }

  .accOverCont{
      height: 100%;
  }